<!-- view prpfile -->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!-- view username from gravatar -->
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <!-- follow statisic -->
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <!-- micropost_view  (single : ../views/microposts/_micropost.html.erb) -->
  <div class="span8">

    <!-- view follow button -->
    <%= render 'follow_form' if signed_in? %>

    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>) </h3> <!-- Microposts counting -->
      <ol class="microposts">
        <%= render @microposts %> <!-- microposts main code -->
      </ol>
      <%= will_paginate @microposts %> <!-- pagenation code(@microposts) -->
    <% end %>
  </div><!-- micropost_end -->

</div><!-- row_end -->
